##################################
# Node / Frontend
##################################
**/node_modules/
**/dist/
**/.vite/
**/.cache/

##################################
# Python / Backend
##################################
**/__pycache__/
**/*.pyc
**/*.pyo
**/.venv/
venv/

##################################
# Temp / workspace
##################################
compare_data/
tmp/
uploads/
compare/

##################################
# Docker Volumes / Runtime Data
##################################
docker-data/
volumes/
data/

##################################
# Environment files (Secrets)
##################################
.env
.env.*
!.env.example

##################################
# Logs
##################################
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

##################################
# OS / Editor junk
##################################
.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json

.idea/

##################################
# Docker
##################################
**/*.pid